@import url(http://fonts.googleapis.com/css?family=Roboto:400);



body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
  background-image:url("image/admin_image.jpg");
  background-size: 1606px 890px;
  background-repeat: no-repeat;

  margin:0;
  padding:0;
  height:100%;
}

#header {

width:100%;
  height:100px;
  position:absolute;

}

#footer {
  background:#ffffff;
  width:100%;
  height:40px;
  position:absolute;
  bottom:0;
  left:0;
}

#content {
  padding-bottom:100px; /* Height of the footer element */
}

.container {
    padding: 25px;
    position:absolute; left:50px; top:250px;


}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}


